.weather-forecast-item {
    display: flex;
    flex-direction: column;
    padding: 15px 18px;
    margin: 25px 0;
    border-radius: 12px;
}

/* ITEM SELECTION ANIMATION */
@keyframes weather-forecast-item--selected {
    from {
        border: 1px solid transparent;
        background-color: transparent;
    }
    to {
        border: 1px solid #C69887;
        background-color: rgba(247, 248, 250, 0.18);
    }
}

.weather-forecast-item--selected {
    animation: weather-forecast-item--selected 0.3s linear both;
}


.weather-forecast-item_date {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.weather-forecast-item_icon {
    height: 42px;
    width: 60px;
    margin-top: 16px;
    margin-bottom: 19px;
}

.weather-forecast-item_temperature {
    font-size: 14px;
    text-align: center;
    font-weight: 300;
}