.weather-forecast_container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
}

.weather-forecast_placeholder {
    color: white;
    margin: 24px 0;
    font-weight: 300;
}