.flip-card {
    width: 768px;
    height: 545px;
    position: relative;

    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    padding: 24px 16px;
    margin: auto;
}

.flip-card-face {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../assets/flip-background.png");
}

.flip-card-face_front {
    background-size: cover;
}

.flip-card-face_back {
    transform: rotateY(180deg);
}

.flip-card:hover {
    transform: rotateY(180deg);
}