.map_container {
    width: 100%;
    height: 100%;
}

.map_placeholder {
    font-weight: 300;
    font-size: 28px;
    text-align: center;
}

.map_placeholder_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}