.location_container {
    text-align: center;
    margin: 25px 0;
}

.location_label {
    color: white;
    font-size: 32px;
    font-weight: 300;
}

.location_icon {
    height: 1.3rem;
    margin-right: 11px;
}
